@CHARSET "UTF-8";
.cabecalho{
	font-family: "Lucida Sans Unicode", Lucida Grande, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: bold;
	
	width: 940px;

}

.menu-opcoes{
	font-family: "Lucida Sans Unicode", Lucida Grande, sans-serif;
	position: absolute;
	bottom:0;
	right:0;
}
.menu-opcoes ul{
	font-size: 15px;
}

.menu-opcoes a{
	color: #036;
}

.menu-opcoes ul li{
	display: inline;
	margin-left: 20px;
}